<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="../js/d3/lib/jquery/jquery.js"></script>
    <title>{% block title %}{% endblock %} - CellBrowser</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <hr>
    <div id="footer">
        {% block footer %}
        &copy; CellBrowser.
        {% endblock %}
    </div>
</body>
