{% extends "base.html" %}
{# visualizes selected cell characteristic #}
{% block title %}{{ method }} - {{cellid}}{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #000000; }
    </style>
    <link rel="stylesheet" href="/static/spinners.css">
{% endblock %}

{% block content %}
    <h1>{{ method|capitalize }} - {{ cellid }}</h1>
    <b><span style="color:red">{{ message|default("") }}<span></b>
    <p class="important">
    
    <form name="update" action="plot?method={{ method }}&cellid={{ cellid }}" method="post">
        <input type="submit" name='nocache' value="Update plot" />
    </form>
    <div id='placeholder'>
        <img id='image' src="" />
        <div class="spinner bar">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>


    <p>
    <h3>Description</h3>
    {{ doc }}
    </p>
    
    <hr>
        <b> {{ message|default("") }} </b>
        <form name="eval" action="plot?method={{ method }}&cellid={{ cellid }}" method="post">
            <p>
            Score: 
            <select name="score" id='score'>
                <option value="NaN">None</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            </p>
            <p><input type="button" value="Save" onclick="post()"/></p>
        </form>
        <script type="text/javascript">

        function post() {
            score = $('#score').val()
            post_data = {
                        "cellid": "{{ cellid }}",
                        "name" : "score",
                        "data": score 
                    }
            $.post("/cache_data", post_data)

        }

        function request_image() {
            data_request = {"cellid": "{{ cellid }}", "method": "{{ method }}", "opts" : {{ opts }} }

            $.get("/img", data_request, function(d)
            {
                if (d.status == 'done')
                {
                    $('#image').attr("src",d.data)
                    $('.spinner').css('display', 'none')
                    clearInterval(intervalID)
                }
                else if (d.status=='error')
                {
                    $('#placeholder').html('Error occurred')
                    $('.spinner').css('display', 'none')
                    clearInterval(intervalID)
                }
            }

                , "json");

        }

        data_request = {"cellid": "{{ cellid }}", "name": "score"}

        $.get("/get_cached", data_request, function(d) {$('#score').val(d.score[0])}, "json")

        var intervalID = setInterval(request_image, 1000);




        </script>
    </p>
{% endblock %}

{% block footer %}
    <a href="index">Back to list</a>
    <a href="/cell?cellid={{ cellid }}">Back to cell</a><br><br>
    {{ super() }}
{% endblock %}
