{% extends "base.html" %}
{# visualizes selected cell characteristic #}
{% block title %}{{ method }} - {{cellid}}{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #000000; }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ method|capitalize }} - {{ cellid }}</h1>
    <b><span style="color:red">{{ message|default("") }}<span></b>
    <p class="important">
    
    <form name="update" action="plot?method={{ method }}&cellid={{ cellid }}" method="post">
        <input type="submit" name='nocache' value="Update plot" />
    </form>
    <img src="{{ img_data }}" />
    <p>
    <h3>Description</h3>
    {{ doc }}
    </p>
    
    <hr>
        <b> {{ message|default("") }} </b>
        <form name="eval" action="plot?method={{ method }}&cellid={{ cellid }}" method="post">
            <p>
            Score: 
            <select name="score" id='score'>
                <option value="NaN">None</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            </p>
            <p>
            Comment:
            <input type="text" id="comment" size="60"/>
            </p>
            <p><input type="button" value="Save" onclick="post()"/></p>
        </form>
        <script type="text/javascript">

        function post_field(name, val) {

            $.post("/cache_data", {
					                "cellid": "{{ cellid }}",
					                "name" : name,
					                "data": val 
					            })
        }
        
        function post(){
            score = $('#score').val()
            comment = $('#comment').val()
            post_field('score', score)
            post_field('comment', comment)
            }
        $.get("/get_cached", {"cellid": "{{ cellid }}", "name": "score"},
        		function(d)
                {$('#score').val(d.score[0])}, "json")
        $.get("/get_cached", {"cellid": "{{ cellid }}", "name": "comment"},
        		function(d)
                {$('#comment').val(d.comment)}, "json")
             


        </script>
    </p>
{% endblock %}

{% block footer %}
    <a href="index">Back to list</a>
    <a href="/cell?cellid={{ cellid }}">Back to cell</a><br><br>
    {{ super() }}
{% endblock %}
